
*{
    color: white !important;
}

a:hover{
    text-decoration: none;
}

@font-face{
    font-family: "logo-font";
    src: url("../fonts/main-logo-font-cyril/rough_draft_regular-webfont.woff") format("woff"), 
    url("../fonts/main-logo-font-cyril/rough_draft_regular-webfont.woff2") format("woff2"),
    url("../fonts/main-logo-font-cyril/rough_draft_regular.ttf") format("truetype");
}

body{
    color: white;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: black;
}
.top-banner-container{
    margin: 0;
    padding-top: 20px !important;
    background-color: black;
}

.slider-container{
    background-color: black; 
}

.top-banner{
    width: 100%;
}

.basic-container{
    padding: 50px 100px;
    background-color: black;
}


@media(min-width: 1280px){
    .basic-container{
        padding: 50px 200px;
    }
}

.fixed-header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 0 100px;

}

.header-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    height: 60px;
    width: 100%;
    text-shadow: 5px 5px 0 black;
}

.header-nav a>h1{
    color: white !important;
    font-weight: 700;
    z-index: 100;
}

.top-video-container{
    position: relative;
    max-width: 100%;
    padding-top: 0;
    padding-bottom: 0;
}

.main-trailer{
    display: block;
    max-width: 100%;
    z-index: 0;
    margin-bottom: -3px;
    margin: 0 auto;
}

.video-overlay{
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% + 1px);
    width: 100%;
    background-color: rgba(0,0,0, 0.5);
    z-index: 50;
    grid-template-rows: repeat(1fr);
}

.overlay-headline{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: logo-font, sans-serif;
}

.video-banner-headline{
    font-size: 150px;
    font-weight: 700;
    text-shadow: 20px 20px 0 black;
    color: white !important;
    z-index: 1000;
}

.overlay-subline{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.vimeo-link-subline{
    text-decoration: none;
    color: white !important;
    line-height: 2;
}

.vimeo-link-subline:hover{
    text-decoration: underline;
}

